[submodule "3rd/entt"]
	path = 3rd/entt
	url = https://github.com/ExplosionEngine/entt.git
[submodule "3rd/glfw"]
	path = 3rd/glfw
	url = https://github.com/ExplosionEngine/glfw.git
[submodule "3rd/glm"]
	path = 3rd/glm
	url = https://github.com/ExplosionEngine/glm.git
[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/ExplosionEngine/rapidjson.git
[submodule "3rd/googletest"]
	path = 3rd/googletest
	url = https://github.com/ExplosionEngine/googletest.git
[submodule "3rd/taskflow"]
	path = 3rd/taskflow
	url = https://github.com/ExplosionEngine/taskflow.git
[submodule "3rd/meta"]
	path = 3rd/meta
	url = https://github.com/ExplosionEngine/meta.git
[submodule "3rd/gflags"]
	path = 3rd/gflags
	url = https://github.com/ExplosionEngine/gflags.git
