# JetBrains
.idea

# Visual Studio Code
.vscode

# Binaries
cmake-build*
build*

# Installed
Installed

# 3rd
ThirdParty/Zip
ThirdParty/Lib
ThirdParty/ConanRecipes/**/src
ThirdParty/ConanRecipes/**/build
ThirdParty/ConanRecipes/**/CMakeUserPresets.json
!ThirdParty/ConanRecipes/build_recipes.py
aqtinstall.log

# Claude
CLAUDE.md

# Test Project
TestProject/.idea
TestProject/.vscode
TestProject/cmake-build*
TestProject/build*

# macOS
.DS_Store
**/.DS_Store
