[submodule "3rd/entt"]
	path = 3rd/entt
	url = https://github.com/skypjack/entt.git
[submodule "3rd/glfw"]
	path = 3rd/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rd/glm"]
	path = 3rd/glm
	url = https://github.com/g-truc/glm.git
